#bannerBG {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.521),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.ibb.co/KrHqMLr/banner.jpg") no-repeat center center/cover;
}
